.split {
  display: flex;
  padding: 2em;
  gap: 6em;
}

.split > * {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .split {
    flex-direction: column;
    gap: initial;
  }

  .split > * {
    width: initial;
  }

  .reverse {
    flex-direction: column-reverse;
  }
}