#title {
  text-align: center;
  font-size: 32px;
}

#search-parameters {
  padding: 2em;
  background-color: #F1F1EF;
}

#search-parameters-div {
  display: flex;
  justify-content: space-between;
}

#search-parameters-div div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Aktiv-Grotesk-Light;
}

#search-input-div {
  width: 50%;
}

#search-input {
  background-color: #F1F1EF;
  color: #000000;
  border: none;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #000000;
  font-family: Aktiv-Grotesk-Light;
}

#search-input::placeholder {
  color: #000000;
}

#search-input:focus {
  outline: none;
}

#results {
  display: flex;
  justify-content: center;
  padding: 2em;
}

#results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  justify-content: space-between;
}

.result {
  background-color: #F1F1EF;
  text-align: center;
  transition: opacity 0.5s;
}

.result:hover {
  opacity: 75%;
  cursor: pointer;
}

.property-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.property-address, .property-bed-bath {
  font-family: Aktiv-Grotesk-Light;
}

.property-price {
  font-family: Aktiv-Grotesk-Bold;
}

@media screen and (max-width: 800px) {
  #search-parameters-div {
    flex-direction: column;
    gap: 2em;
  }

  #results-grid {
    grid-template-columns: 1fr;
  }

  #search-input-div {
    width: 100%;
  }
}
